$dark-blue: #010913;
// $turquoise: #36cdd4; //#4abfc8;
$turquoise: #00ffff; //#4abfc8;
$dark-gray: #2d3238; //#212529;
$gray: #4f5862;
$black-tv: #010a13;
$gray-tv: #131722;
$black: #000;
$white: #fff;
$medium-gray: #666;
$green: #0C7C59;
$orange: #F86624;
$pink: #c702cb;
// untested:
$yellow: #e4ff1a;
$purple: #791E94;
$dark: rgba(0, 0, 0, 0.6); //$black;
$accent: $turquoise;
$bright: $white;
$persian-green: #00b295;
$ruby: #d81159;
$twitter-blue: #1ea0f2;

$primary: $turquoise;
$secondary: $ruby;
$active: $green;
$background: $dark-blue;
$background-highlight: lighten($gray-tv, 20); //rgba(128, 128, 128, 0.3); //$gray;
$background-dark: $dark; //rgba(0, 0, 0, 0.8);
$border-radius: 2px;

$font-md: 18px;
$font-lg: $font-md + 6px;
$font-md-sm: $font-md - 2px;
$font-sm: $font-md - 4px;
$font-xs: $font-md - 6px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family-titles: 'Source Code Pro', monospace;
$font-family-text: 'Open Sans', sans-serif;
$font-color: $white;
$font-color-highlight: $primary;
$font-color-faded: $gray;

$transition-speed-default: 0.3s;
$transition-speed-fast: 0.2s;
$transition-default: all $transition-speed-default linear;
$transition-fast: all $transition-speed-fast linear;

$content-width: 600px;
$content-side-padding: 20px;
$body-font-family: $font-family-text;
//$font-family-aux: 'Roboto', Helvetica, Arial, sans-serif;
$body-background: $background; //rgba(0, 0, 0, 1);
$body-font-color: $font-color;//$primary;
$body-font-size: $font-md;
$label-font-size: $font-sm;
$label-font-family: $font-family-text;
$label-color: #fff;
$input-font-family: $font-family-titles; //$body-font-family;
$input-font-color: $primary;
$input-focus-bg: $dark;
$input-not-empty-bg: rgba($background-highlight, 0.3);
$icon-size: 16px;
$placeholder-opacity: 0.5;
$placeholder-color: rgba(255, 255, 255, $placeholder-opacity);
$placeholder-font-size: $font-sm;
$navbar-bg: $black;//$background-highlight; // rgba(255, 255, 255, 0.15);
$navbar-border-bottom: 1px solid $background-highlight;
$btn-border: 1px solid $primary;
$btn-bg: $black;
$btn-color: #fff;
$btn-font-size: $font-sm;
$btn-font-family: $font-family-titles;
$btn-hover-border: $btn-border;
$btn-hover-bg: $primary;
$btn-hover-color: $black;
$btn-disabled-border-color: $gray;
$btn-disabled-font-color: $gray;
$btn-disabled-bg-color: $background-highlight;
$btn-ico-bg: transparent;
$btn-ico-border: none;
$btn-ico-color: #787b86; //$body-font-color;
$btn-ico-hover-bg: none;
$btn-ico-hover-color: $primary; //secondary;
$btn-ico-hover-border: none;
$btn-ico-active-color: $primary;
$toolbar-ico-bg: transparent; //$navbar-bg; //rgba(255, 255, 255, 0.04);
$toolbar-ico-color: $white;
$toolbar-ico-border: 1px solid $background-highlight;
$toolbar-ico-hover-bg: $black;// $primary; //$background-highlight;
$toolbar-ico-hover-color: $white; // $black; // $primary
$toolbar-ico-hover-border-color: $primary;
$toolbar-ico-size: 22px;
$kbd-bg: $background-highlight; //#212529;
$kbd-color: $white;
$selection-color: white;
$selection-bg: $primary;
$tooltip-bg: $background-highlight; //$black;
$tooltip-color: $white;
$tooltip-border: 1px solid $tooltip-bg; //$primary;
$tooltip-font-size: $font-sm;

// TODO
$tooltip-bg: darken($background-highlight, 10);
$tooltip-border: none;

$notification-border-radius: $border-radius;
$notification-bg: $turquoise;
$notification-border: 1px solid $notification-bg;
$notification-color: $black;
$notification-success-bg: $turquoise;
$notification-success-border: 1px solid $notification-success-bg;
$notification-success-color: $black;
$notification-error-bg: $ruby;
$notification-error-border: 1px solid $notification-error-bg;
$notification-error-color: $white;

$generated-input-bg: darken($background-highlight, 10);
$generated-input-border-radius: $border-radius;
$generated-input-color: $primary;
$generated-input-censored-color: rgba(255, 255, 255, 0.3);
$generated-input-border: none;

$modal-bg: $black;
$modal-border-color: $background-highlight;
$modal-border: 1px solid $modal-border-color;
$modal-color: $body-font-color;

//
// v-select
//
$vs-state-active-bg: $background;//$dark;
$vs-state-active-color: $bright;
$vs-bg: $body-background;
$vs-border-width: 1px;
//$vs-border-radius: none;
$vs-border-radius: $border-radius;
$vs-border-color: $accent;
//$vs-selected-bg: red;
//$vs-dropdown-z-index: 1000 !default;
//$vs-dropdown-min-width: 160px !default;
//$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.8);
$vs-dropdown-bg: $input-focus-bg;//$background-highlight; //$background;
// my vs variables
$vs-dropdown-color: $placeholder-color;
$vs-dropdown-selected-color: $accent;

// medium
$vs-selected-color: $primary;
$vs-selected-background: $background-highlight;
$vs-selected-border: none;
// bright:
// $vs-selected-color: $black;
// $vs-selected-background: $turquoise;
// dark
// $vs-selected-color: $white;
// $vs-selected-background: $background-dark;
// $vs-selected-border: 1px solid $primary;

@import "vue-select/src/scss/vue-select.scss";


//
// Mobile
//
// TODO: move all mobile things to a separate file
$m-body-background: #0c1827; //lighten($body-background, 3);
$m-font-md: calc(0.5em + 2vmin);
$m-font-lg: calc(0.7em + 2vmin);
$m-body-font-size: $m-font-md;
$m-label-font-size: calc(0.5em + 1vmin);
$m-icon-size: calc(0.5em + 2vmin);
$m-toolbar-ico-bg: none; //$background-highlight;
$mobile-width: 480px;
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//
// Global styles
//

@keyframes float {
  0% {
    transform: translateY(-3px) rotate(0);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: translateY(3px) rotate(0);
  }
}

@keyframes float-sm {
  0% {
    transform: translateY(-1px) rotate(0);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: translateY(1px) rotate(0);
  }
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

::-moz-selection { /* Code for Firefox */
  color: $selection-color;
  background: $selection-bg;
}
::selection {
  color: $selection-color;
  background: $selection-bg;
}

html {
  height: 100%;
}

body {
  background: $body-background;
  font-size: $body-font-size;
  @include mobile { font-size: $m-body-font-size; }
  font-family: $body-font-family;
  font-weight: $font-weight-normal;
  color: $body-font-color;
  height: 100%;
  margin: 0;
  padding: 0;

  @include mobile { background: $m-body-background; }
}

#site {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 $content-side-padding;
  max-width: $content-width;
}

.container {
  position: relative;
  padding: 30px 0 0 0;

  &:last-of-type {
    padding-bottom: 30px;
  }
}

a {
  color: $primary;
  text-decoration: underline;
  transition: $transition-fast;
  //border-bottom: 1px dashed $primary;

  &:hover, &:active, &:focus {
    color: $secondary;
    text-decoration: underline;
    //border-bottom-color: $secondary;
    //border-bottom-style: solid;
  }
}

button {
  outline: none;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
}

.btn {
  background: $btn-bg;
  border: $btn-border;
  color: $btn-color;
  font-size: $btn-font-size;
  padding: 5px 10px;
  font-family: $btn-font-family;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: $border-radius;

  &:hover, &:active, &:focus {
    background: $btn-hover-bg;
    border: $btn-hover-border;
    color: $btn-hover-color;
  }

  &[disabled], &.disabled {
    color: $btn-disabled-font-color;
    background-color: $btn-disabled-bg-color;
    border-color: $btn-disabled-border-color;

    &:hover, &:active {
      color: $btn-disabled-font-color;
      background-color: $btn-disabled-bg-color;
      border-color: $btn-disabled-border-color;
    }
  }
}

.btn-ico {
  padding: 0;
  background: $btn-ico-bg;
  border: $btn-ico-border;
  color: $btn-ico-color;

  &:hover {
    background: $btn-ico-hover-bg;
    border: $btn-ico-hover-border;
    color: $btn-ico-hover-color;
  }

  .svg-inline--fa {
    font-size: $icon-size;
    @include mobile { font-size: $m-icon-size; }
    cursor: pointer;
    padding: 5px;
    transition:
      background .2s linear,
      color .2s linear;

    color: $btn-ico-color; //$background-highlight;
    &:hover {
      color: $btn-ico-hover-color; //$secondary;
    }

    &.active {
      color: $btn-ico-active-color; //$primary;
      &:hover {
        color: $btn-ico-hover-color; //$orange;
      }
    }
  }

  &.active .svg-inline--fa {
    color: $btn-ico-active-color;
  }
}

input, select {
  background: none;
  border: 0;
  border-radius: $border-radius;
  font-size: $body-font-size;
  @include mobile { font-size: $m-body-font-size; }
  margin: 0;
  width: 100%;
  outline: none;
  background: none;
  font-family: $input-font-family;
  color: $input-font-color;
  border: 1px solid $background-highlight;
  padding: 8px 10px 9px 10px;
  width: calc(100% - 20px);
  transition: all 0.3s linear;

  &:focus {
    outline: none;
    border-color: $primary;
    transition: all 0.3s linear;
    background: $input-focus-bg;
  }

  &.wrong, &.wrong-live, &.invalid, &:invalid {
    border-color: $ruby;
    outline: none;
    box-shadow: 0 0 1.5px 1px $ruby;

    // mark as wrong only when leaving the input
    &:not(.wrong-live):focus {
      border-color: $primary;
      outline: none;
      box-shadow: none;
    }
  }
}

input::placeholder {
  color: $placeholder-color;
  opacity: 0.8;
  font-size: $placeholder-font-size;
  @include mobile { font-size: $m-body-font-size; }
}

label {
  font-size: $label-font-size;
  font-family: $label-font-family;
  @include mobile { font-size: $m-label-font-size; }
  color: $label-color;
  display: inline;
}

.toasted-container {
  text-align: center;

  .toasted {
    margin: 0 auto;
    max-width: $content-width;

    &.toasted-primary {
      border-radius: $notification-border-radius;

      &.default {
        background: $notification-bg;
        border: $notification-border;
        color: $notification-color;
      }

      &.success {
        background: $notification-success-bg;
        border: $notification-success-border;
        color: $notification-success-color;
      }

      &.error {
        background: $notification-error-bg;
        border: $notification-error-border;
        color: $notification-error-color;
      }
    }
  }
}

.toasted-container.top-right, .toasted-container.top-center {
  top: 10px !important;
}

@media only screen and (max-width: 600px) { // the media query toasted uses for mobile
  .toasted-container.top-right, .toasted-container.top-center {
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    min-width: auto;
    transform: none;
  }
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: $kbd-color;
  background-color: $kbd-bg;
  border-radius: .2rem;
  font-family: $font-family-titles;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: $tooltip-font-size;
  max-width: 300px;
  text-align: center;
  border-radius: $border-radius;

  .tooltip-inner {
    background: $tooltip-bg;
    color: $tooltip-color;
    border-radius: 0;
    padding: 5px 10px 4px;
    border: $tooltip-border;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $tooltip-bg;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 15px;

    .tooltip-arrow {
      border-width: 10px 10px 0 10px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -10px;
      left: calc(50% - 10px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 15px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -10px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 15px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -10px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 15px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -10px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  /* &.popover { */
  /*   $color: #f9f9f9; */

  /*   .popover-inner { */
  /*     background: $color; */
  /*     color: black; */
  /*     padding: 24px; */
  /*     border-radius: 5px; */
  /*     box-shadow: 0 5px 30px rgba(black, .1); */
  /*   } */

  /*   .popover-arrow { */
  /*     border-color: $color; */
  /*   } */
  /* } */

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  //font-family: $font-family-titles;
  font-family: $font-family-text;
  color: $primary;
}


//
// vue-modal
//

.v--modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.v--modal-box.v--modal {
  background: $modal-bg;
  box-shadow: none;
  border: $modal-border;
  border-radius: 0;
  display: flex;
  flex-direction: column;

  .v--modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $modal-color;
    font-size: $font-xs;

    .btn {
      font-size: $font-xs;
    }
  }

  .modal-body {
    flex-grow: 1;
  }

  .vue-dialog-buttons, .v--modal-buttons {
    border-top-color: $modal-border-color;

    button {
      border-color: $modal-border-color;
      background: $btn-bg;
      color: $btn-color;
      font-size: $btn-font-size;
      font-family: $btn-font-family;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s linear;
      height: 40px;
      line-height: 40px;
      padding: 0;

      &:hover, &:active {
        background: $btn-hover-bg;
        border: $btn-hover-border;
        color: $btn-hover-color;
      }

      &:focus {
        border: $btn-hover-border;
      }
    }
  }
}

.v--modal-buttons {
  display: flex;
  flex: 0 1 auto;
  width: 100%;

  button {
    flex: 1 1 50%;
    border-bottom: none;
    border-left: none;

    &:last-of-type {
      border-right: none;
    }
  }
}

[data-modal="configurations"] .v--modal {
  top: 65px !important;
}
