$dark-blue: #010913;
$bright-blue: #36cdd4;
$gray: #2d3238; //#212529;
$black: #000;
$white: #fff;
$medium-gray: #666;
$green: #0C7C59;
$orange: #F86624;
// untested:
$yellow: #e4ff1a;
$purple: #791E94;

$primary: $bright-blue;
$secondary: $orange;
$active: $green;
$background: $dark-blue;
$background-highlight: $gray;
$dark: $black;
$accent: $bright-blue;
$bright: $white;

$body-font-family: 'Source Code Pro', monospace;
//$body-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$body-background: $dark-blue;
$body-font-color: $bright-blue;
$body-font-size: 20px;
$label-font-size: 12px;
$label-color: #fff;
$input-font-family: $body-font-family;
$notification-border-radius: 0;
$notification-bg-color: $dark;
$notification-border: 1px solid $primary;
$icon-size: 16px;
$placeholder-color: #333;

//
// v-select
//
$vs-state-active-bg: $background;//$dark;
$vs-state-active-color: $bright;
$vs-border-width: 1px;
$vs-border-radius: none;
$vs-border-color: $accent;
//$vs-selected-bg: red;
//$vs-dropdown-z-index: 1000 !default;
//$vs-dropdown-min-width: 160px !default;
//$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.8);
$vs-dropdown-bg: $dark;//$background-highlight; //$background;
// my vs variables
$vs-dropdown-color: $medium-gray;
$vs-dropdown-selected-color: $accent;
$vs-selected-color: $white;
$vs-selected-background: $background-highlight;

@import "vue-select/src/scss/vue-select.scss";


//
// Mobile
//

$m-body-font-size: calc(0.45em + 2vmin);
$m-label-font-size: calc(0.45em + 1vmin);
$m-icon-size: calc(0.45em + 2vmin);
$mobile-width: 480px;
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
