$dark-blue: #010913;
$turquoise: #36cdd4; //#4abfc8;
$dark-gray: #2d3238; //#212529;
$gray: #4f5862;
$black-tv: #010a13;
$gray-tv: #131722;
$black: #000;
$white: #fff;
$medium-gray: #666;
$green: #0C7C59;
$orange: #F86624;
$pink: #c702cb;
// untested:
$yellow: #e4ff1a;
$purple: #791E94;
$dark: rgba(0, 0, 0, 0.6); //$black;
$accent: $turquoise;
$bright: $white;

$primary: $turquoise;
$secondary: $orange;
$active: $green;
$background: lighten($dark-blue, 1);
$background-highlight: lighten($gray-tv, 2); //rgba(128, 128, 128, 0.3); //$gray;
$background-dark: $dark; //rgba(0, 0, 0, 0.8);

$font-md: 20px;
$font-lg: $font-md + 4px;
$font-sm: $font-md - 6px;

$content-width: 600px;
$content-side-padding: 20px;
$body-font-family: 'Source Code Pro', monospace;
//$body-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$body-background: $background; //rgba(0, 0, 0, 1);
$body-font-color: $white;//$primary;
$body-font-size: $font-md;
$label-font-size: $font-sm;
$label-color: #fff;
$input-font-family: $body-font-family;
$input-font-color: $primary;
$notification-border-radius: 0;
$notification-bg-color: $black;
$notification-border: 1px solid $primary;
$icon-size: 16px;
$placeholder-color: rgba(255, 255, 255, 0.2);
$navbar-bg: $black;//$background-highlight; // rgba(255, 255, 255, 0.15);
$navbar-border-bottom: 1px solid $background-highlight;
$btn-border: 1px solid $primary;
$btn-bg: $black;
$btn-color: #fff;
$btn-font-size: $font-sm;
$btn-font-family: $body-font-family;
$btn-hover-border: $btn-border;
$btn-hover-bg: $primary;
$btn-hover-color: $black;
$btn-disabled-border-color: $gray;
$btn-disabled-font-color: $gray;
$btn-disabled-bg-color: $background-highlight;
$btn-ico-bg: transparent;
$btn-ico-border: none;
$btn-ico-color: #787b86; //$body-font-color;
$btn-ico-hover-bg: none;
$btn-ico-hover-color: $secondary;
$btn-ico-hover-border: none;
$toolbar-width: 350px;
$toolbar-bg: $navbar-bg; //rgba(255, 255, 255, 0.04);
$toolbar-border: 2px solid $background-highlight;

//medium
$generated-input-bg: $background-highlight;
$generated-input-color: $primary;
$generated-input-censored-color: rgba(255, 255, 255, 0.3);
$generated-input-border: none;
//bright
// $generated-input-bg: $primary;
// $generated-input-color: $black;
// $generated-input-censored-color: rgba(0, 0, 0, 0.3);

//
// v-select
//
$vs-state-active-bg: $background;//$dark;
$vs-state-active-color: $bright;
$vs-border-width: 1px;
$vs-border-radius: none;
$vs-border-color: $accent;
//$vs-selected-bg: red;
//$vs-dropdown-z-index: 1000 !default;
//$vs-dropdown-min-width: 160px !default;
//$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.8);
$vs-dropdown-bg: $dark;//$background-highlight; //$background;
// my vs variables
$vs-dropdown-color: $gray;
$vs-dropdown-selected-color: $accent;

// medium
$vs-selected-color: $primary;
$vs-selected-background: $background-highlight;
$vs-selected-border: none;
// bright:
// $vs-selected-color: $black;
// $vs-selected-background: $turquoise;
// dark
// $vs-selected-color: $white;
// $vs-selected-background: $background-dark;
// $vs-selected-border: 1px solid $primary;

@import "vue-select/src/scss/vue-select.scss";


//
// Mobile
//

$m-font-md: calc(0.45em + 2vmin);
$m-font-lg: calc(0.65em + 2vmin);
$m-body-font-size: $m-font-md;
$m-label-font-size: calc(0.45em + 1vmin);
$m-icon-size: calc(0.45em + 2vmin);
$mobile-width: 480px;
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}


//
// Global styles
//

html {
  height: 100%;
}

body {
  background: $body-background;
  font-size: $body-font-size;
  @include mobile { font-size: $m-body-font-size; }
  font-family: $body-font-family;
  color: $body-font-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  // max-width: 800px;
  position: relative;
  // border-left: 2px solid $background-highlight;
  margin: 30px 0; //30px;
  // border-bottom: 1px solid $black;

  /* width: 100%; */
  /* margin: 0 auto 30px auto; */
  /* background: #000; */
  /* padding-left: 15px; */
  /* border: 1px solid $primary; */
  /* padding: 5px 0; */
  /* transition: all 0.2s linear; */
}

button {
  outline: none;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
}

.btn {
  background: $btn-bg;
  border: $btn-border;
  color: $btn-color;
  font-size: $btn-font-size;
  padding: 5px 10px;
  font-family: $btn-font-family;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover, &:active {
    background: $btn-hover-bg;
    border: $btn-hover-border;
    color: $btn-hover-color;
  }

  &[disabled], &.disabled {
    color: $btn-disabled-font-color;
    background-color: $btn-disabled-bg-color;
    border-color: $btn-disabled-border-color;

    &:hover, &:active {
      color: $btn-disabled-font-color;
      background-color: $btn-disabled-bg-color;
      border-color: $btn-disabled-border-color;
    }
  }
}

.btn-ico {
  padding: 0;
  background: $btn-ico-bg;
  border: $btn-ico-border;
  color: $btn-ico-color;

  &:hover, &:active {
    background: $btn-ico-hover-bg;
    border: $btn-ico-hover-border;
    color: $btn-ico-hover-color;
  }

  .svg-inline--fa {
    font-size: $icon-size;
    @include mobile { font-size: $m-icon-size; }
    cursor: pointer;
    padding: 5px;
    transition:
      background .2s linear,
      color .2s linear;

    color: $btn-ico-color; //$background-highlight;
    &:hover {
      color: $btn-ico-hover-color; //$secondary;
    }

    &.active {
      color: $btn-ico-color; //$primary;
      &:hover {
        color: $btn-ico-hover-color; //$orange;
      }
    }
  }


}

input {
  background: none;
  border: 0;
  font-size: $body-font-size;
  @include mobile { font-size: $m-body-font-size; }
  margin: 0;
  width: 100%;
  outline: none;
  background: none;
  font-family: $input-font-family;
  color: $input-font-color;
}
input:focus {
  outline: none;
  /* border-color: $primary; */
}
input::placeholder {
  color: $placeholder-color;
  opacity: 0.8;
  font-size: $body-font-size;
  @include mobile { font-size: $m-body-font-size; }
}
label {
  text-transform: uppercase;
  font-size: $label-font-size;
  @include mobile { font-size: $m-label-font-size; }
  color: $label-color;
  display: inline;

  /* &.typewriter { */
  /*   height: 14px; */
  /*   overflow: hidden; */
  /*   white-space: nowrap; /\* Keeps the content on a single line *\/ */
  /*   margin: 0 auto; /\* Gives that scrolling effect as the typing happens *\/ */
  /*   animation:  */
  /*     typing 2s steps(40, end); */
  /* } */
}

// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

.toasted {
  &.toasted-primary {
    border-radius: $notification-border-radius;

    &.default {
      background-color: $notification-bg-color;
      border: $notification-border;
    }
  }
}
@media only screen and (max-width: 600px) { // the media query toasted uses for mobile
  .toasted-container.top-right {
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    min-width: auto;
  }
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

img {
  max-width: 100%;
}
